langchain
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
langchain_huggingface
langchain_chroma
python-dotenv
openai
pypdf
python-docx
bs4
arxiv
wikipedia
chromadb
sentence_transformers
faiss-cpu
duckdb
pandas
duckduckgo_search==5.3.1b1
pymupdf
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
streamlit
agno
google-genai
google-generativeai
assemblyai
crawl4ai
nltk
phidata
playwright 
PyPDF2